.Player {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-weight: "bold";
}

.Teams.left .Team .Players .Player {
  width: 97%;
}

.Teams.right .Team .Players .Player {
  margin-left: 0px;
}

.Player p {
  text-align: end;
  width: 100%;
}
.Player img {
  width: 0.75em;
  height: 0.7em;
  align-self: center;
  margin-left: auto;
}

.Player .empty {
  width: 1.33em;
  height: 1.33em;
}
