.Player {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-weight: "bold";
 
}

.Teams.left .Team .Players .Player {
  width: 97%;
}

.Teams.right .Team .Players .Player {
  margin-left: 0px;
}

.Player p {
  font-size: var(--font-size-player);
  text-align: end;
  width: 100%;
 
}
.Player img {
  width: var(--small-icon-width);
  height: var(--small-icon-height);
  align-self: bottom;
  margin-left: auto;
  margin-top: 1px;

  
}

.Player .empty {
  width: 1.33em;
  height: 1.33em;

  
}
