.Player {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-right: 10px;
  align-items: center;
  font-weight: "bold";
}
.Player p {
  text-align: end;
  width: 100%;
}
.Player img {
  width: 1.33em;
  height: 1.33em;
  align-self: center;
  margin-left: auto;
}

.Player .empty {
  width: 1.33em;
  height: 1.33em;
  align-self: center;
  margin-left: auto;
}
