.Team {
  margin-left: calc(var(--margin-left-for-big-icons)-10px);
  display: grid;
  gap: var(--team-gap);
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 100%;
  height: calc((100vh - 5em) / 8);
  align-items: center;
  
  background-color: rgba(43, 220, 226, 0.301);
}

.Team .image {
  width: var(--image-size);
  padding: 1em 0 1em 1em;
}

.Team .image img {
  width: 100%;
  height: auto;
}

.Team p {
  align-self: center;
  height: auto;
  padding-right: 10px;
}

.bigText {
  font-size: calc(var(--font-size)-1);
}

.Players {
  height: 100%;
  display: grid;
  margin-top: 10px;
  gap: 0em;
  grid-template-rows: repeat(4, 1fr);
}

.Teams.right .Team .Players {
  margin-right: calc(var(--margin-right-Right)-6px);
}

.Teams.left .Team .Players {
  margin-right: calc(var(--margin-right-Left)-6px);
}

