.Team {
  margin-left: var(--margin-left-for-big-icons);
  display: grid;
  gap: var(--team-gap);
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 100%;
  height: calc((100vh - 5em) / 8);
  align-items: center;
}

.Team .image {
  width: var(--image-size);
  padding: 1em 0 1em 1em;
}

.Team .image img {
  width: 100%;
  height: auto;
}

.Team p {
  align-self: center;
  height: auto;
  padding-right: 10px;
}

.bigText {
  font-size: var(--font-size);
}

.Players {
  height: 100%;
  display: grid;
  margin-top: 10px;
  gap: 0.3em;
  grid-template-rows: repeat(4, 1fr);
}

.Teams.right .Team .Players {
  margin-right: var(--margin-right-Right);
}

.Teams.left .Team .Players {
  margin-right: var(--margin-right-Left);
}

