.Team{

    display: flex;
    flex-direction: row;
    padding-bottom: 38px;
}
img.Team {

    align-self: center;

}
.Players{

    display: flex;
    flex-direction: column;
    font-size: 50%;
    align-self: center;
    max-height: 85px;
}
p.Players{

    font-size: 100%;

}